html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
    line-height: 1;
    background: #ffffff;
    color: #222222;
    font-family: Roboto, Arial, sans-serif;
}

html {
    font-size: 62.5%;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
  }
  
/* Style navigation menu links */
.topnav a {
    color: #FFFFFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7rem;
    display: block;
  }
/* Style the hamburger menu */
.topnav a.icon {
    background: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
/* Style the active link (or home/logo) */
.active {
    background-color: #9ea9b3;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
  }

/*Contact page */

  h1{
    color: white;
    font-size: 6.4rem;
    font-weight: bold;
    padding-top: 145px;
    padding-left: 5%;
    line-height: 1rem;
}
.maincontactform h2{
    font-size: 2.8rem;
    font-weight: bold;
    color:#222222;
}
.contactlocation h2{
    font-size: 2.8rem;
    font-weight: bold;
    color:#222222;
}
.contactlocation h3{
    font-size: 2rem;
    line-height: 2.4rem;
}

.maincontactform h4{
    font-size: 1.2rem;
    color: gray;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    padding-top: 6%;
    padding-bottom: 1%;
    font-size: 1.6rem;
}


.headerimage{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/img/contact/contact-jumbotron.png);
    width: 100%;
    height: 20rem;
    opacity: 100%;
    alt: "Skyscrapers from the bottom looking up.";
}

.maincontent{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.CNY{
    margin-top: 2%;
    font-weight: normal;
}

.maincontactform{   
    width: 25%;
    padding-right: 5%;
    white-space: nowrap;
}

.maincontactform h4{
    padding-top: 1%;
    white-space: nowrap;
}

.contactlocation{
    justify-content: center;
    white-space: nowrap;
}

.bordered{
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #b1b1b1;
    border-width: 1px;
    height: 3.5rem;
}

.maincontactform input[placeholder]{
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 2%;
}

input[type=submit]{
    background: white;
    border-style: solid;
    border-color: #222222;
    border-width: 1px;
    width: 12.5rem;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: normal;
    color: #222222;
    border-radius: 0px;
}

textarea{
    overflow: hidden;
}

.radiodivico{
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactlocation{
    width: 20%;
    padding-left: 5%;
}
.contactlocation p{
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 2%;
}

.contactlocation h3{
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 1%;
}

/* Index CSS */

.indexheaderimage{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/img/home/home-jumbotron.png);
    width: 100%;
    height: 80rem;
    alt: "Skyscrapers from afar.";
}

.indexheadertext{
    margin-top: 55rem;
}

.indexbody{
    margin-top: 2%;
}

.indexheaderimage h1{
    color: white;
    font-size: 6.4rem;
    font-weight: bold;
    padding-top: 0rem;
    line-height: 7.5rem;
}

.indexbody h2{
    font-size: 2.4rem;
    font-weight: bold;
}

.indexbody p{
    font-size: 1.6rem;
}

.indexcontentbox1{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.indexcontentbox2{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.indexbody button{
    background: white;
    border: 1px solid #222222;
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 1.2rem 3.5rem;

}

.contentboxtext{
    margin-right: 2%;
    margin-top: 3%;
}

.contentboximage{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/img/home/home-img-1.png);
    width: 20%;
    height: 25rem;
    alt: "A pen laying on graph paper";
    margin-left: 2%;
}

.contentboxtext2{
    order:1;
    margin-left: 2%;
    margin-top: 3%;
}

.contentboximage2{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/img/home/home-img-2.png);
    width: 20%;
    height: 25rem;
    alt: "A pen laying on graph paper";
    order: -1;
    margin-right: 2%;
}
.break{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 20%;
}

.projectsbox1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.villas{
    background-size: cover;
    background-position: center;
    image-rendering: optimizeQuality;
    background-image: url(img/home/home-villas-img.png);
    width: 100rem;
    height: 20rem;
    z-index: 1;
    position: relative;
}

.projectsoverlay{
    z-index: 2;
    float: right;
    position: absolute;
    left: 77%;
    top: 80%;
}

.projectsoverlay2{
    z-index: 2;
    float: right;
    position: absolute;
    top: 80%;
}

.projectsoverlay3{
    z-index: 2;
    float: right;
    position: absolute;
    left: 76%;
    top: 80%;
}

.outskirts{
    background-size: cover;
    background-position: center;
    image-rendering: optimizeQuality;
    background-image: url(img/home/home-outskirts-img.png);
    width: 100rem;
    height: 20rem;
    z-index: 1;
    position: relative;
}

.blocks{
    background-size: cover;
    background-position: center;
    image-rendering: optimizeQuality;
    background-image: url(img/home/home-the-blocks-img.png);
    width: 100rem;
    height: 20rem;
    z-index: 1;
    position: relative;
}

.projectsoverlay h2{
    background: #D8D8D8;
    padding: 2rem 6rem 2rem 6rem;
    border: 1px solid white;
    white-space: nowrap;
}

.projectsoverlay2 h2{
    background: #D8D8D8;
    padding: 2rem 6rem 2rem 6rem;
    border: 1px solid white;
    white-space: nowrap;
}

.projectsoverlay3 h2{
    background: #D8D8D8;
    padding: 2rem 6rem 2rem 6rem;
    border: 1px solid white;
    white-space: nowrap;
}

.villastext{
    margin-top: 7rem;
    padding: 0rem 30rem 10rem 30rem;
}
.villastext p{
    margin: 5rem 0rem 5rem 0rem;
}
/*Footer CSS */
footer{
    background-color: #828282;
    bottom: 0%;
    width: 100%;
}

.footermain{
    display: flex;
    padding-top: 2%;
    justify-content: center;
}

.footercontact{
    width: 25%;
}

.footercontact h2{
    font-size: 2rem;
    color:white;
    font-weight: bold;
}

.footercontact input{
    width: 35rem;
    height: 4rem;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.footercontact input[placeholder]{
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 2%;
}

.footercontact h4{
    font-size: 1.2rem;
    color:white;
}

.footerlocations{
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.footerlocations h3{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2%;
}

.footerlocations p{
    font-size: 1.6rem;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-weight: lighter;
}

.copyright{
    display: flex;
    justify-content: center;
}

.copyright h3{
    color: white;
    font-size: 1.2rem;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

@media(max-width:1400px){
    .footermain{
        display: flex;
        padding-top: 2%;
        justify-content: space-around;
    }

    .maincontent{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

}
@media(max-width:800px){

.maincontent{
    flex-direction: column;
    padding: 5%;
}

input[type=submit]{
    width: 100%;
}

.maincontactform{
    align-self: center;    
    width: 100%;
    padding: 3%;
    white-space: nowrap;
}

.CNY{
    padding-top: 25%;
}

.maincontactform h4{
    padding-left: 0%;
    }

.footermain{
    display: flex;
    padding-top: 2%;
    justify-content: center;
    flex-direction: column;
    padding-left: 2%;
    }

.footercontact{
    white-space: nowrap;
    padding-bottom: 3%;
    padding-top: 2%;
}

.footerlocations{
    flex-direction: column;
}

.copyright{
    display: flex;
    justify-content: left;
    padding-left: 2%;
    padding-bottom: 2%;
}
}

@media(max-width:500px){ 
    .maincontent{
    flex-direction: column;
    }
    
    input[type=submit]{
    width: 100%;
    }
    
    .maincontactform{
    align-self: center;    
    width: 100%;
    padding: 5%;
    white-space: nowrap;
    }
    
    .maincontactform h4{
    padding-left: 8%;
    }
    
    .CNY{
    padding-top: 50%;
    }
    
    .footercontact{
        padding-bottom: 5%;
    }

    .FCNY h3{
        padding-top: 10%;
    }

    .footerlocations{
        padding-bottom: 4%;
    }

    .copyright{
        padding-bottom: 5%;
    }

    .footercontact h4{
        padding-top: 10%;
    }

    .footercontact form{
        padding-top: 10%;
    }

    }